body{
    margin:15px;
}

@media(min-width:650px){
 #inner {
    flex-flow:row nowrap;
 }
 #mainbar {
     flex-basis:60%;
 }
 #sidebar {
     flex-basis:40%;
 }
}


h1{
    text-align:center;
    color:green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    font-size:40px;
}

h2{
    text-align:center;
    color:orangered;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div {
    font-size:18px;
    text-align:center;
    font-family:'Lora';
    line-height:1.3;
    letter-spacing: 1.2px;
}